@import '../../SCSS/variables';

$platforms: (
  facebook: $facebook,
  twitter: $twitter,
  linkedin: $linkedin,
  instagram: $instagram,
  github: $github
);

.social {
  display: flex;
  grid-column: span 12;
  justify-content: center;

  @media only screen and (min-width: $small-desktop) {
    justify-content: flex-end;
    grid-column-start: 8;
    grid-column-end: 12;
  }
}

.list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 300px;
  width: 100%;
}

.icon {
  align-items: center;
  border: 3px solid $secondary-color;
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  transition: border-width 0.3s ease-in-out;
  width: 50px;

  a {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
  }

  svg {
    fill: $white;
    transition: transform 0.3s ease-in-out;
  } 

  &:hover {
    border-width: 0;
    transition: border-width 0.3s ease-in-out;
    
    svg {
      transform: scale(1.5);
      transition: transform 0.3s ease-in-out;
    }
  }
}

@each $platform, $color in $platforms {
  .#{$platform} {
    &:hover {
      border-color: $color;
      svg {
        fill: $color;
      }
    }
  }
}