$primary-color: #263546;
$primary-color-light: #404F60;
$secondary-color:  #EEB14F;
$secondary-color-dark: #BB7E1C;
$white: #FFFFFF;

$twitter: #1da1f2;
$facebook: #3b5998;
$instagram: #e1306c;
$linkedin: #0077b5;
$github: #4078c0;

$primary-font: 'Montserrat', sans-serif;