$primary-color: #263546;
$primary-color-light: #404F60;
$secondary-color:  #EEB14F;
$secondary-color-dark: #BB7E1C;
$white: #FFFFFF;

$twitter: #1da1f2;
$facebook: #3b5998;
$instagram: #e1306c;
$linkedin: #0077b5;
$github: #4078c0;

$primary-font: 'Montserrat', sans-serif;

$tablet: 768px;
$small-desktop: 1024px;
$large-desktop: 1440px;

$project-hover-transition: cubic-bezier(1, 0.32, 1, 1.03);