@import '~bulma/bulma.sass';
@import 'variables';

body {
  font-family: $primary-font;
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 2em 1em;
}
